<!doctype html>
<html lang="en">
  
  <body>
    
<main>
 
  <div class="b-example-divider"></div>

  <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg" style="background-image: url(assets/img/Fondo_Textura_07.png); background-size: cover; background-position: left;">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3" style="margin-top: 300px;">
        <img src="./assets/img/Vivi_de_tu_creatividad.png" alt="" style="width: 80%; margin-left: 70px;">
        <p class="lead" style="color: white; margin-left: 30px; text-align: center; margin-top: 15px;">Si sos artista o emprendedor cultural, te invitamos a que dormes parte de nuestra comunidad online.</p>
        <p class="lead" style="color: white; margin-left: 30px; text-align: center; margin-top: -15px;">Podrás ofrecer tus productos o servicios y vincularte con la red de artistas más grande del país.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="registro.html" style="margin: 0 60px;"><input type="submit" value="Quiero Registrarme" class="registro" style="width: 140%; margin: 10px 65px; padding: 15px 0; font-size: 20px; text-transform: uppercase; color: white; background-color: #ff9933; border: none; border-radius: 50px; transition: 1s all; cursor: pointer; box-shadow: 2px 2px 10px 0.1px #245f5f;"></a>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <p style="color: white; margin-left: 200px;">Términos y condiciones</p>  
          <a href="terminos_y_condiciones.html " style="color: #ff9933;">HACÉ CLICK AQUÍ</a>
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden">
          <img class="rounded-lg-3" src="./assets/img/Mano_Pinceles.png" alt="" width="450">
      </div>
    </div>
  </div>

 
</main>


    <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

      
  </body>
</html>
