<div class="container">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-primary-50 text-decoration-none ">
      MASC
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li class="nav-item"><a href="#" class="nav-link active px-2 link-primary">Home</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Nosotros</a></li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle link-dark" href="#" role="button" data-bs-toggle="dropdown"
          aria-expanded="false">
          Artistas
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Escénicas</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Musica</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Visuales</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="#">Otros Servicios</a></li>
        </ul>
      </li>
      <li><a href="#" class="nav-link px-2 link-dark disabled">Precios</a></li>
      <li><a href="#" class="nav-link px-2 link-dark">Contacto</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-primary me-2">Iniciar Sesión</button>
      <button type="button" class="btn btn-primary">Registrarse</button>
    </div>
  </header>
</div>
